@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  :root {
    /* --primary: #1f8f4f; */
    --primary: #00000070;
  }
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background-color: #f8f8f8;
  /* background-color: red; */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



@font-face {
  font-family: 'DMSans';
  src: url('../public/assets/fonts//DM_Sans/sans/DMSans_36pt-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  }
@font-face {
  font-family: 'DMSansextra';
  src: url('../public/assets/fonts//DM_Sans/sans/DMSans_36pt-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal;
  }
@font-face {
  font-family: 'DMSansMedium';
  src: url('../public/assets/fonts//DM_Sans/sans/DMSans_36pt-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  }
@font-face {
  font-family: 'DMSansReg';
  src: url('../public/assets/fonts//DM_Sans/sans/DMSans_36pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

  
.scrol::-webkit-scrollbar {
  width: 2px;
}


.scrol::-webkit-scrollbar-thumb {
  background: darkgrey;
}

.scrol::-webkit-scrollbar-thumb:hover {
  background: #942838;
}

.tabling{
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.tabling tr{
  box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.10);;
}


